/*
 * Custom Progress Bar
 * https://ocias.com/blog/unity-webgl-custom-progress-bar/
 */

div#loadingBox {
    width: 100%;
    height: 100%;
	bottom: 58px;
	position: absolute;
	background-color: black;
    z-index: 999;
}

div#loadingPanel {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 45%;
    margin-top: -10px;
    text-align: center;
    z-index: 999;
}

div#bgBar {
    position: absolute;
    width: 200px;
    margin-left: -100px;
    left: 50%;
    height: 2px;
    display: block;
    background-color: #333;
    z-index: 999;
}
div#progressBar {
    left: 50%;
    position: absolute;
    margin-left: -100px;
    width: 0px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    z-index: 999;
}
div#bgBar {
    border-radius: 2px;
    z-index: 999;
}

p#loadingInfo {
    color: #666;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    font-family: "Monaco", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
    margin-top: 10px;
    z-index: 999;
}